body {
    background-color: #000;
    color: #0f0;
    font-family: monospace;
}

form {
    background-color: #444;
    padding: 20px;
    border: 1px solid #0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px #0f0;
}

label {
    color: #0f0;
}

input[type="text"],
input[type="password"] {
    background-color: #333;
    color: #0f0;
    border: 1px solid #0f0;
    padding: 10px;
}

input[type="submit"] {
    background-color: #0f0;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}